.App {
  text-align: center;
}

header {
  height: 60vh;
  background-color: darkgoldenrod;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
}

label {
  display: block;
  padding-bottom: 10px;
}

input {
  border: 1.5px solid black;
  width: 200px;
  height: 25px;
  background-color: white;
}

button {
  border: 1.5px solid black;
  width: 100px;
  height: 30px;
}
.results {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.movieCard {
  height: 600px;
  width: 450px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-top: 25px;
}


.movieCard img {
  width: 250px;
}

.movieCard p {
  color: white;
}
